:root {
  --color-surface: #fffef7;
  --color-on-surface: #1f2620;
  --color-primary: #216f2d;
  --color-primary-light: #4a8c3a;
  --color-primary-neutral: #cdd7c1;
  --color-secondary: #90600e;
}

* {
  font-family: 'Inter', Helvetica, sans-serif;
  color: var(--color-on-surface);
}

html {
  font-size: 16px;
}

body {
  background-color: var(--color-surface);
}

h1 {
  text-align: center;
  font-size: 2.5rem;
  font-family: 'Patua One', cursive, sans-serif;
  color: var(--color-primary);
}

h2 {
  text-align: left;
  font-size: 1.8rem;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  color: var(--color-primary-light);
}

p {
  line-height: 1.2;
}

a {
  text-decoration: none;
  color: var(--color-secondary);
  font-weight: 600;
}

img {
  margin: 20px;
  border: 5px solid var(--color-primary-neutral);
  border-top-right-radius: 30px;
  padding: 10px;
}

li {
  display: inline-block;
  margin-left: 50px;
}

.article {
  margin: auto;
  max-width: 40rem;
}
